extends layout
 
block content



  div.container
    #content
        #main.row
            #content.span12
                div(class="item-page row-fluid")
                    div.row-fluid
                        div.span10
                            <!--message-->
                            div.control-group
                                div.controls
                                     p
                                        - var data = GLOBAL.EMAIL_BODY;
                                        //p()!= data.RetailigenceSearchResult
                                        - if (data != null)
                                            - each product in data.RetailigenceSearchResult.results
                                                p()!= product.SearchResult.product.name
                                                p()!= product.SearchResult.location.phone
                                                p()!= product.SearchResult.product.descriptionLong
  div.footer